<html>
<head>重启IP通知</head>
<body>
	<h3>最新的ip地址:${IP}</h3>
	<div id="mailContentContainer" style="">
		<div>
			<div style="LINE-HEIGHT: 21px">
				发票：<a href="http://${IP}:8888/trms/" target="_blank">http://${IP}:8888/trms/</a>
			</div>
			<div style="LINE-HEIGHT: 21px">
				个税：<a href="http://${IP}:8888/ptms/" target="_blank">http://${IP}:8888/ptms/</a>
			</div>
		</div>
	</div>
</body>
</html>