@charset "utf-8";

.main-wrap {
	margin: 0 300px 0 18px;
	border: 1px solid #d4d4d4;
	background: #FFF;
}

.quick-links {
	border-top: 1px dashed #ccc;
	overflow: hidden;
	zoom: 1;
}

.quick-links li {
	float: left;
	height: 165px;
	width: 25%;
	text-align: center;
}

.quick-links li a {
	position: relative;
	display: block;
	height: 120px;
	overflow: hidden;
	margin: -1px 0 0 -1px;
	padding-top: 45px;
	color: #3b87b1;
	border-top: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
	font-size: 14px;
}

.quick-links .voucher-list span {
	background-position: 0 0;
}

.quick-links span {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 20px;
}

.quick-links li a:hover {
	background: #f8f8f8;
}

.col-main {
	float: left;
	width: 100%;
}

.col-extra {
	float: left;
	width: 290px;
	margin-left: -290px;
}

.extra-wrap {
	height: 442px;
	margin-right: 18px;
	font-size: 14px;
}

.extra-wrap h2 {
	line-height: 38px;
	font-size: 14px;
	color: #FFF;
	background: #307ca6;
	text-align: center;
}

.extra-wrap .list {
	height: 398px;
	border: 1px solid #d4d4d4;
	border-top: none;
	background: #FFF;
	position: relative;
}

#ajaxList {
	height: 368px;
	overflow: hidden;
}

.extra-wrap ul li {
	padding: 0 12px;
	overflow: hidden;
	zoom: 1;
	line-height: 44px;
	border-bottom: 1px dashed #cccccc;
}

.extra-wrap ul li b {
	float: right;
	font: 14px 'Microsoft Yahei';
	line-height: 45px;
}

.extra-wrap ul li span {
	display: block;
	white-space: nowrap;
	line-height: 45px;
	width: 130px;
}

.m-top {
	padding: 18px 18px 20px;
}

.cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

body {
	font: 12px/1.5 \5b8b\4f53;
	color: #555;
	background-color: #f4f4f4;
}

.extra-wrap .sp {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 28px;
}

.extra-wrap .sp a {
	float: right;
	font-size: 12px;
	margin-right: 10px;
	color: #AAA;
}