@charset "utf-8";
body{ font-size: 12px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color: #555; padding: 0px;background-color: #f4f4f4;}
body.white{background-color: #fff;}
body, div, dl, dt, dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote，th,td{margin:0;padding:0;}
body{ padding-left: 1px;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption, cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
capation,th{text-align:left;}
q:before, q:after{content:' '}
abbr,acronym{border:0;}
label {display: block;margin-bottom: 0;}
label{font-family: Helvetica,Georgia,Arial,sans-serif,宋体;font-size: 13px;_font-size: 12px;}
.clearfix:after{clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.es { white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.heading { margin-top:2px;}
.wrapper{width: 100%;height: 100%;display:block;padding:0px 0px 0px 0px;background: #f3f3f3;}
.white{background: #fff;}
.wrapper-inner{padding:1px 0; border-left: 1px solid #ddd;border-bottom-color: transparent;padding-top: 1px;}
.top{margin:0; color: #555; zoom: 1;background: #f3f3f3;padding-bottom: 10px;padding: 8px 15px;border-width: 0px 0;border-style: solid;border-color: #ddd;border-bottom: 0;}
.top:after{ content: "."; display: block; clear: both; height: 0; overflow: hidden; }
.top .fl{float:left;}
.top .fr{float:right;display:inline;margin-right:-10px; height: 30px;}
.top .title{display:inline-block;*display:inline;zoom:1;margin-right:10px;font-size:14px;line-height:30px;vertical-align:middle;}
.wrapper-inner .top{background: #f3f3f3; -webkit-box-shadow: inset 0px 1px 0px 0px #fefefe;box-shadow: inset 0px 1px 0px 0px #fefefe;border-width: 1px 0;border-style: solid;border-color: #ddd;border-bottom: 1;margin-bottom: 1px;}
a { cursor:pointer; color: #2383c0; text-decoration: none; outline:none; }
a:hover { color: #2383c0; outline:none; text-decoration: none;}
a:focus{ outline:none; }
a img { border: 0; }
small {  font-size: 85%; }
strong { font-weight: bold;font: 15px/1.5;}
em { font-style: italic; }
cite { font-style: normal;}
.nav{ margin-bottom: 0px; }
img { width: auto\9; height: auto; max-width: 100%; vertical-align: middle; border: 0; -ms-interpolation-mode: bicubic;}
.main-table {width:100%;  margin:0 auto;  border:0px solid #A4BED4;  border-collapse:collapse; }
.main-table caption {margin:0 auto; line-height:30px;  font-size:15px;  font-weight:800; text-align:left; color:#c00; }
.main-table td,.main_table th{ border:0px solid #A4BED4; padding:0px 5px; height: 28px;line-height: 28px; }
/*********表单**********/
select,textarea, input[type="text"], input[type="password"]{
	-webkit-border-radius: 0px 0 0 0px;
    -moz-border-radius: 0px 0 0 0px;
    border-radius: 0px 0 0 0px;
}
select{
	display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}
textarea{
	height: auto;
}
/** Input */
input[type="text"].text_ro {
	BACKGROUND-COLOR: #F0F0F0;
	BORDER-bottom: 1px solid #E3E9EF;
	BORDER-top: 1px solid #ABADB3;
	BORDER-left: 1px solid #E2E3EA;
	BORDER-right: 1px solid #DBDFE6;
}
input[type="text"].text_error,input[type="password"].text_error {
	border:1px  dashed red;
}
/*按钮结构部分*/
.ui-btn,.ui-btn-href{
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0 10px;
	height: 26px;
	line-height:26px;
	border: 1px solid #c1c1c1;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff, #f4f4f4);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff),
		to(#f4f4f4));
	background: -o-linear-gradient(top, #ffffff, #f4f4f4);
	background: -ms-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
	background: linear-gradient(top, #ffffff, #f4f4f4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#f4f4f4');
	color: #555;
	vertical-align: middle;
	cursor: pointer;
}

.ui-btn:hover {
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
	background: #f4f4f4;
	color: #555;
}

.ui-btn:active {
	background: #fbfbfb;
	background: -moz-linear-gradient(top, #e8e8e8, #fbfbfb);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#e8e8e8),
		to(#fbfbfb));
	background: -o-linear-gradient(top, #e8e8e8, #fbfbfb);
	background: -ms-linear-gradient(top, #e8e8e8 0%, #fbfbfb 100%);
	background: linear-gradient(top, #e8e8e8, #fbfbfb);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8',
		endColorstr='#fbfbfb');
}

.ui-btn-href {
	border: 1px solid #3279a0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	background: #337fa9;
	background: -moz-linear-gradient(top, #4994be, #337fa9);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4994be),
		to(#337fa9));
	background: -o-linear-gradient(top, #4994be, #337fa9);
	background: -ms-linear-gradient(top, #4994be 0%, #337fa9 100%);
	background: linear-gradient(top, #4994be, #337fa9);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4994be',
		endColorstr='#337fa9');
	font-weight: bold;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
}

.ui-btn-href:hover{
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
	background: #3286b4;
	color: #fff;
}

.ui-btn-href:active{
	background: #2b6c90;
	background: -moz-linear-gradient(top, #2b6c90, #4994be);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#2b6c90),
		to(#4994be));
	background: -o-linear-gradient(top, #2b6c90, #4994be);
	background: -ms-linear-gradient(top, #2b6c90 0%, #4994be 100%);
	background: linear-gradient(top, #2b6c90, #4994be);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b6c90',
		endColorstr='#4994be');
}

/*组合按钮*/
.ui-btn-group{
	position: relative;
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
}
.ui-btn-group > .ui-btn{
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	line-height:24px;
	height: 24px;
}
.ui-btn-group > .ui-btn:first-child {
	margin-left: 0;
	-webkit-border-bottom-left-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-border-top-left-radius: 2px;
	border-top-left-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	-moz-border-radius-topleft: 2px;
}
.ui-btn-group > .ui-btn:last-child, .ui-btn-group > .dropdown-toggle {
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
}
.ui-drop-right .dropdown-menu{
	right: 0;
    left: auto;
}
.ui-btn-group .dropdown-menu:before {
	position: absolute;
	top: -7px;
	left: 9px;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-left: 7px solid transparent;
	border-bottom-color: rgba(0,0,0,0.2);
	content: '';
}
.ui-btn-group .dropdown-menu:after{
	position: absolute;
	top: -6px;
	left: 10px;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	border-left: 6px solid transparent;
	content: '';
}
.ui-drop-right .dropdown-menu:before{
	left: auto;
	right:9px;
}
.ui-drop-right .dropdown-menu:after{
	left: auto;
	right:10px;
}
.ui-btn-group .caret{
	vertical-align:middle;
}

/**下拉按钮*/
.ui-btn strong{
	font: 12px/2 \5b8b\4f53;
}
.ui-btn-menu {
	position: relative;
	display: inline-block;
	*display: inline;
	margin-right: 10px;
	vertical-align: middle;
	zoom: 1;
	z-index: 100;
}

.ui-btn-menu .ui-menu-btn {
	display:inline-block;
	position: relative;
	margin-right: 0;
	padding-right: 20px;
	z-index: 101;
}

.ui-btn-menu .ui-menu-btn b {
	font-size: 0;
	position: absolute;
	right: 6px;
	top: 50%;
	margin-top: -2px;
	border-width: 4px;
	border-color: #888 #fafafa #fafafa;
	border-style: solid;
	height: 0;
	overflow: hidden;
	-moz-transition: -moz-transform 150ms ease-in;
	-webkit-transition: -webkit-transform 150ms ease-in;
	-o-transition: -o-transform 150ms ease-in;
	transition: transform 150ms ease-in;
}
.ui-btn-menu .dropdown-menu{
	display: none;
	padding: 15px;
	position: absolute;
	top: 25px;
	left: 0;
	border: 1px solid #c1c1c1;
	border-top-left-radius: 0px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #fff;
	z-index: 99;
}
.ui-btn-menu-cur .ui-menu-btn,.ui-btn-menu-cur .ui-menu-btn:hover,.ui-btn-menu-cur .ui-menu-btn:active {
	padding-bottom: 1px;
	filter: progid:DXImageTransform.Microsoft.Gradient(enabled=false);
	background: #fff;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	box-shadow: none;
}

.ui-btn-menu-cur .ui-menu-btn b {
	-moz-transform: rotate(180deg);
	-moz-transform-origin: 50% 30%;
	-webkit-transform: rotate(180deg);
	-webkit-transform-origin: 50% 30%;
	-o-transform: rotate(180deg);
	-o-transform-origin: 50% 20%;
	transform: rotate(180deg);
	transform-origin: 50% 30%;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	margin-top: -6px\9;
}
.ui-btn-menu-cur .dropdown-menu {
	display: block;
}

.ui-btn-menu .control-group {
  margin-bottom: 5px;
}
.ui-btn-menu .control-group.formSep {
  padding-bottom: 3px;
}
.ui-btn-menu .control-label {
  padding-top: 3px;
  font-size: 13px;
  float: left;
  width: 60px;
  padding-top: 5px;
  text-align: right;
}
.ui-btn-menu .controls {
  text-align: left;
  margin-left: 75px;
}
.ui-btn-menu .ui-btns{
   height: 30px;
   line-height: 30px;
   overflow: hidden;
   padding: 10px 0px 0px 0px;
}
.ui-btn-menu .ui-btns .ui-btn,.ui-btn-menu .ui-btns .ui-btn-href{
	float: right;
	margin-left:5px;
	height: 28px;
	padding-left:  10px;
	padding-right:  10px;
	display: inline-block;
}
.ui-btns{overflow: hidden;zoom:1;margin-top: 10px; height: 30px;}
.ui-conditions-trigger b{background: url('img/page_spr_icons.png') no-repeat;}
.ui-conditions-trigger{color: #3492c7;float: left;line-height: 30px;overflow:hidden;position: relative;padding-right: 16px;outline:none;*zoom:1;}
.ui-conditions-trigger b{position: absolute;right: 0;top: 50%;margin-top: -8px;width: 16px;height: 16px;background-position: -272px -96px;}
.ui-conditions-expand b{background-position: -256px -96px;}

/*** simple Tabs ***/
.ui-tabs-nav{
	font-size: 13px;
	height: 32px;
	box-shadow: 0 1px 0 white;
	-webkit-box-shadow: 0 1px 0 white;
	-moz-box-shadow: 0 1px 0 white;
	margin: 0;
	border-bottom: 1px solid #c7c7c7;
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
}
.ui-tabs-nav li {
	display: block;
	float: left;
	text-align: center;
}
.ui-tabs-nav li.active a {
	cursor: default;
	border-bottom: 1px solid #e8e8e8; 
	background-color:#f5f5f5;
	color: #555;
}
.ui-tabs-nav li:first-child a {
   border-left: 0;
}
.ui-tabs-nav li:last-child a {
   border-right: 1px solid #d5d5d5;
}
.ui-tabs-nav li a {
	display: block;
	padding: 0;
	height: 32px;
	line-height:32px;
	border-left: 1px solid #d5d5d5;
	padding: 0 14px;
}
.one-items li{ width: 50%; }
.two-items li{ width: 50%; }
.two-items li:last-child a{ border-right:0; }

.pagination  a{border:0;} .pagination  input{border:0;color:#999;width:30px;padding:0;margin:-3px 0 0 0;text-align:center;}
.input-small{width:120px;} .input-medium {width:163px;}.input-xxlarge {width:460px;}
.help-block,.help-inline {color:#aaaaaa;} .alert {margin-bottom:10px;}
.row-fluid form{margin-top:20px;}
.form-search label{margin-left:10px;} .form-search span label{margin-left:0;}
.form-horizontal {margin:0 20px;} .form-horizontal .control-group {margin-bottom:8px;}
.form-horizontal .control-label {padding-top:3px; font-size: 13px;} .form-horizontal .controls {text-align:left;}
.form-horizontal .controls label.error{background-position:0 2px;background:url("../img/unchecked.gif") no-repeat 0 0;padding-left:18px;padding-bottom:2px;font-weight:bold;color:#ea5200;margin-left:10px;display: inline-block;}
.formSep { margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px dashed #dcdcdc; }

.main-wrap .col-sub {
	float: right;
	width: 220px;
	margin-left: 10px;
	_margin-left: 7px;
}
.main-wrap .col-main {
	overflow: hidden;
	zoom: 1;
}
.mod-box .hd {
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	border: 1px solid #cfcfcf;
	background: #f7f7f7;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f0f0f0));
	background: -moz-linear-gradient(top,#fefefe,#f0f0f0);
	background: -o-linear-gradient(top, #fefefe, #f0f0f0);
	background: -ms-linear-gradient(top, #fefefe 0%,#f0f0f0 100%);
	background: linear-gradient(top,#fefefe,#f0f0f0);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
}
.mod-box .bd {
	background-color: #fff;
	border: 1px solid #cfcfcf;
	border-top: 0;
}
/** font size helper **/
.helper-font-small{
    font-size : 11px;
}
.helper-font-14{
    font-size : 14px;
}

.helper-font-16{
    font-size : 16px;
}

.helper-font-20{
    font-size : 20px;
}

.helper-font-32{
    font-size : 32px;
}

.helper-font-48{
    font-size : 48px;
}

.helper-font-64{
    font-size : 64px;
}
/** end font size helper **/

/****表单部分**********/
.bills { margin:15px 0 0 18px; position: relative; float: left; width: 1002px; background: #FFFFFF; border: 1px solid #CFCFCF; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); padding: 10px 20px 10px 20px;}
.con-header { padding: 10px;}
.con-header dd { float: left; line-height: 30px;}
.p20 { width: 20%; }
.bills .operating .ui-icon {cursor: pointer;}
.bills .page-header { margin: 0 0 12px; border-bottom: 1px dotted #e2e2e2; padding-bottom: 16px; padding-top: 7px; }
.bills .page-header h3 { padding: 0; margin: 0 8px; font-size: 24px; font-weight: lighter; color: #2679b5; }
.bills .page-header h3 small { margin: 0 6px; font-size: 14px; font-weight: normal; color: #8089a0;}
/****table部分*******/
.table th {white-space:nowrap;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;background-color:#fbfbfb;
background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);
background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);
background-image:-o-linear-gradient(top, #ffffff, #f5f5f5);background-image:linear-gradient(top, #ffffff, #f5f5f5);
background-repeat:repeat-x;filter:progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);}
th, td, .table-bordered { border-radius: 0!important;}
table th.tc,table td.tc{text-align: center;}
table th.tl,table td.tl{text-align: left;}
table th.tr,table td.tr{text-align: right;}
/*****treeFrame部分****/
#left,#right,#openClose {float:left;} #openClose {width:8px;margin:0 1px;cursor:pointer;}
#openClose,#openClose.close {background:#fdfdfd url("../img/openclose.png") no-repeat -29px center;}
#openClose.close {background-position:1px center;} .close:hover {opacity: .8;filter: alpha(opacity=80);}