* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a:hover,a:focus {color: #2a6496;outline: 0;}
a {color: #428bca;text-decoration: none;font-size: 13px;}
.header {
	margin-left: 0;
	margin-right: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 0;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	min-height: 45px;
	position: relative;
	background: #438eb9;
}
.header a{
	text-decoration: none;
}
.header .navbar-container{
	padding-left: 10px;
    padding-right: 20px;
}
.content {
	margin-left: 190px;
	margin-right: 0;
	margin-top: 0;
	min-height: 100%;
	padding: 0;
}
.content.content-max {
	margin-left: 43px;
}
.content.content-max-all {
	margin-left: 1px;
}
.header:after {
	content: "";
	display: block;
	clear: both;
}
.header .tmt-home {
	color: #fff;
	font-size: 24px;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
	float: left;
    padding: 10px 20px 10px;
    margin-left: -10px;
    background-color: #2e6589;
}
.header .tmt-home:hover,.header .tmt-home:focus {
	background-color: #2c5976;
	color: #FFF;
}
.header .brand {
	color: #fff;
	font-size: 24px;
	text-shadow: none;
	padding-top: 13px;
	padding-bottom: 12px;
	margin-left: -10px;
}
.navbar .nav {
	height: 100%;
	margin: 0 !important
}

.navbar .nav>li {
	line-height: 45px;
	height: 45px;
	border-left: 1px solid #DDD;
	padding: 0;
	position: relative;
	float: left !important
}

.navbar .nav>li:first-child {
	border-left: none
}

.navbar .nav>li>a {
	background-color: #2e6589;
	color: #FFF;
	display: block;
	line-height: inherit;
	text-align: center;
	height: 100%;
	width: auto;
	min-width: 50px;
	padding: 0 8px;
	position: relative;
	text-shadow: none;
}

.navbar .nav>li>a>[class*="icon-"] {
	font-size: 16px;
	color: #FFF;
	display: inline-block;
	width: 20px;
	text-align: center
}

.navbar .nav>li>a:hover,.navbar .nav>li>a:focus {
	background-color: #2c5976;
	color: #FFF;
}

.navbar .nav>li.open>a {
	background-color: #2c5976 !important
}

.navbar .nav>li.open>a {
	color: #FFF !important
}

.navbar .nav .nav-user-photo {
	margin: -4px 8px 0 0;
	border-radius: 100%;
	border: 2px solid #FFF;
	max-width: 40px
}

.navbar .nav li:last-child a [class^="icon-"] {
	display: inline-block;
	width: 1.25em;
	text-align: center
}
#topMenu>li{
	border-left: 0;
}
#topMenu>li>a{
	background-color: #438eb9;
}

#topMenu > li > a:hover, 
#topMenu > li > a:focus  {
	 background-color: #2c5976;
     color: #FFF;
}

#topMenu > .active > a, 
#topMenu > .active > a:hover, 
#topMenu > .active > a:focus  {
	 background-color: #2c5976;
     color: #FFF;
}

.sidebar {
	width: 190px;
	float: left;
	position: relative;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0;
	background-color: #f2f2f2
}

.sidebar:before {
	content: "";
	display: block;
	width: 190px;
	position: fixed;
	bottom: 0;
	top: 0;
	z-index: -1;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	border-width: 0 1px 0 0
}

.nav-list {
	margin: 0;
	padding: 0;
	list-style: none
}

.nav-list .open>a,.nav-list .open>a:hover,.nav-list .open>a:focus {
	background-color: #fafafa
}

.nav-list>li>a,.nav-list .nav-header {
	margin: 0
}

.nav-list>li {
	display: block;
	padding: 0;
	margin: 0;
	border: 0;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #e5e5e5;
	position: relative
}

.nav-list>li:first-child {
	border-top: 0
}

.nav-list li>a:focus {
	outline: 0
}

.nav-list>li>a {
	display: block;
	height: 38px;
	line-height: 36px;
	padding: 0 16px 0 7px;
	background-color: #f9f9f9;
	color: #585858;
	text-shadow: none !important;
	font-size: 13px;
	text-decoration: none
}

.nav-list>li>a>[class*="icon-"]:first-child {
	display: inline-block;
	vertical-align: middle;
	min-width: 30px;
	text-align: center;
	font-size: 18px;
	font-weight: normal;
	margin-right: 2px
}

.nav-list>li>a:focus {
	background-color: #f9f9f9;
	color: #1963aa
}

.nav-list>li>a:hover {
	background-color: #FFF;
	color: #1963aa
}

.nav-list>li>a:hover:before {
	display: block;
	content: "";
	position: absolute;
	top: -1px;
	bottom: 0;
	left: 0;
	width: 3px;
	max-width: 3px;
	overflow: hidden;
	background-color: #3382af
}

.nav-list>li a>.arrow {
	display: inline-block;
	width: 14px !important;
	height: 14px;
	line-height: 14px;
	text-shadow: none;
	font-size: 18px;
	position: absolute;
	right: 11px;
	top: 11px;
	padding: 0;
	color: #666
}

.nav-list>li a:hover>.arrow,.nav-list>li.active>a>.arrow,.nav-list>li.open>a>.arrow
	{
	color: #1963aa
}

.nav-list>li.separator {
	height: 3px;
	background-color: transparent;
	position: static;
	margin: 1px 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.nav-list>li.open>a {
	background-color: #fafafa;
	color: #1963aa
}

.nav-list>li.active {
	background-color: #fff
}

.nav-list>li.active>a,.nav-list>li.active>a:hover,.nav-list>li.active>a:focus,.nav-list>li.active>a:active
	{
	background-color: #fff;
	color: #2b7dbc;
	font-weight: bold;
	font-size: 13px
}

.nav-list>li.active>a>[class*="icon-"] {
	font-weight: normal
}

.nav-list>li.active>a:hover:before {
	display: none
}

.nav-list>li.active:after {
	display: inline-block;
	content: "";
	position: absolute;
	right: -2px;
	top: -1px;
	bottom: 0;
	z-index: 1;
	border: 2px solid #2b7dbc;
	border-width: 0 2px 0 0
}

.nav-list>li.open {
	border-bottom-color: #e5e5e5
}

.nav-list>li.active .submenu {
	display: block
}

.nav-list>li .submenu {
	display: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: #fff;
	border-top: 1px solid #e5e5e5
}

.nav-list>li .submenu>li {
	margin-left: 0;
	position: relative
}

.nav-list>li .submenu>li>a {
	display: block;
	position: relative;
	color: #616161;
	padding: 7px 0 9px 37px;
	margin: 0;
	border-top: 1px dotted #e4e4e4
}

.nav-list>li .submenu>li>a:focus {
	text-decoration: none
}

.nav-list>li .submenu>li>a:hover {
	text-decoration: none;
	color: #4b88b7
}

.nav-list>li .submenu>li.active>a {
	color: #2b7dbc
}

.nav-list>li .submenu>li a>[class*="icon-"]:first-child {
	display: none;
	font-size: 12px;
	font-weight: normal;
	width: 18px;
	height: auto;
	line-height: 12px;
	text-align: center;
	position: absolute;
	left: 10px;
	top: 11px;
	z-index: 1;
	background-color: #FFF
}

.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child,.nav-list>li .submenu>li:hover>a>[class*="icon-"]:first-child
	{
	display: inline-block
}

.nav-list>li .submenu>li.active>a>[class*="icon-"]:first-child {
	color: #c86139
}

.nav-list>li>.submenu>li:before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 7px;
	left: 20px;
	top: 17px;
	border-top: 1px dotted #9dbdd6
}

.nav-list>li>.submenu>li:first-child>a {
	border-top: 1px solid #fafafa
}

.nav-list>li>.submenu:before {
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	left: 18px;
	top: 0;
	bottom: 0;
	border: 1px dotted #9dbdd6;
	border-width: 0 0 0 1px
}

.nav-list>li.active>.submenu>li:before {
	border-top-color: #8eb3d0
}

.nav-list>li.active>.submenu:before {
	border-left-color: #8eb3d0
}

.nav-list li .submenu {
	overflow: hidden
}

.nav-list li.active>a:after {
	display: block;
	content: "";
	position: absolute !important;
	right: 0;
	top: 4px;
	border: 8px solid transparent;
	border-width: 14px 10px;
	border-right-color: #2b7dbc
}

.nav-list li.open>a:after {
	display: none
}

.nav-list li.active.open>.submenu>li.active.open>a.dropdown-toggle:after
	{
	display: none
}

.nav-list li.active>.submenu>li.active>a:after {
	display: none
}

.nav-list li.active.open>.submenu>li.active>a:after {
	display: block
}

.nav-list li.active.no-active-child>a:after {
	display: inline-block !important
}

.nav-list a .badge,.nav-list a .label {
	font-size: 12px;
	padding-left: 6px;
	padding-right: 6px;
	position: absolute;
	top: 9px;
	right: 11px;
	opacity: .88
}

.nav-list a .badge [class*="icon-"],.nav-list a .label [class*="icon-"]
	{
	vertical-align: middle;
	margin: 0
}

.nav-list a.dropdown-toggle .badge,.nav-list a.dropdown-toggle .label {
	right: 28px
}

.nav-list a:hover .badge,.nav-list a:hover .label {
	opacity: 1
}

.nav-list .submenu .submenu a .badge,.nav-list .submenu .submenu a .label
	{
	top: 6px
}

.sidebar-collapse {
	border-bottom: 1px solid #e0e0e0;
	background-color: #f3f3f3;
	text-align: center;
	padding: 3px 0;
	position: relative
}

.sidebar-collapse>[class*="icon-"] {
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	color: #aaa;
	border: 1px solid #bbb;
	padding: 0 5px;
	line-height: 18px;
	border-radius: 16px;
	background-color: #fff;
	position: relative
}

.sidebar-collapse:before {
	content: "";
	display: inline-block;
	height: 0;
	border-top: 1px solid #e0e0e0;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 13px
}

.sidebar-shortcuts {
	background-color: #fafafa;
	border-bottom: 1px solid #ddd;
	text-align: center;
	line-height: 39px;
	max-height: 41px;
	margin-bottom: 0
}

.sidebar-shortcuts-large {
	padding-bottom: 4px
}

.sidebar-shortcuts-large>.shortcut-btn {
	width: 41px;
	line-height: 24px;
	margin-top: -2px;
	border-width: 4px;
	text-align: center
}

.sidebar-shortcuts-large>.shortcut-btn>[class*="icon-"] {
	margin: 0
}

.sidebar-shortcuts-mini {
	display: none;
	font-size: 0;
	width: 42px;
	line-height: 18px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: #fff
}

.sidebar-shortcuts-mini>.btn {
	border-width: 0 !important;
	font-size: 0;
	line-height: 0;
	padding: 8px !important;
	margin: 0 1px;
	border-radius: 0 !important;
	opacity: .85;
	filter: alpha(opacity = 85)
}

.nav-list>li>.submenu li>.submenu {
	border-top: 0;
	background-color: transparent;
	display: none
}

.nav-list>li>.submenu li.active>.submenu {
	display: block
}

.nav-list>li>.submenu a>.arrow {
	right: 11px;
	top: 10px;
	font-size: 16px;
	color: #6b828e
}

.nav-list>li>.submenu .open>a,.nav-list>li>.submenu .open>a:hover,.nav-list>li>.submenu .open>a:focus
	{
	background-color: transparent;
	border-color: #e4e4e4
}

.nav-list>li>.submenu li>.submenu>li>a>.arrow {
	right: 12px;
	top: 9px
}

.nav-list>li>.submenu li>.submenu>li {
	line-height: 16px
}

.nav-list>li>.submenu li>.submenu>li:before {
	display: none
}

.nav-list>li>.submenu li>.submenu>li>a {
	margin-left: 20px;
	padding-left: 22px
}

.nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
	margin-left: 20px;
	padding-left: 38px
}

.nav-list>li>.submenu li>.submenu>li a>[class*="icon-"]:first-child {
	display: inline-block;
	color: inherit;
	font-size: 14px;
	position: static;
	background-color: transparent;
	margin-right: 1px
}

.nav-list>li>.submenu li>.submenu>li a {
	font-size: 13px;
	color: #777
}

.nav-list>li>.submenu li>.submenu>li a:hover {
	color: #316292;
	text-decoration: none;
}

.nav-list>li>.submenu li>.submenu>li a:hover [class*="icon-"] {
	text-decoration: none;
	color: #316292
}

.nav-list>li>.submenu li.open>a {
	color: #25639e
}

.nav-list>li>.submenu li.open>a>[class*="icon-"]:first-child {
	display: inline-block
}

.nav-list>li>.submenu li.open>a .arrow {
	color: #25639e
}

.nav-list>li>.submenu li>.submenu li.open>a {
	color: #25639e
}

.nav-list>li>.submenu li>.submenu li.open>a>[class*="icon-"]:first-child
	{
	display: inline-block;
	color: #1963aa
}

.nav-list>li>.submenu li>.submenu li.open>a .arrow {
	color: #25639e
}

.nav-list>li>.submenu li>.submenu li.active>a {
	color: #347cb3
}

.nav-list>li>.submenu li>.submenu li.active>a>[class*="icon-"]:first-child
	{
	display: inline-block;
	color: #347cb3
}

.nav-list>li.active.open li.active>a:after {
	top: 2px;
	border-width: 14px 8px
}

.nav-list>li.active.open li.active.open li.active>a:after {
	top: 0
}

.shortcut-btn {
	display: inline-block;
	color: #FFF !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
	background-image: none !important;
	border: 5px solid #FFF;
	border-radius: 0;
	box-shadow: none !important;
	-webkit-transition: all ease .15s;
	transition: all ease .15s;
	cursor: pointer;
	vertical-align: middle;
	margin: 0;
	position: relative;
	line-height: 1.428571429;
	padding: 6px 12px;
}
.sidebar.menu-min .nav-search .form-search {
	position: absolute;
	left: 5px;
	z-index: 14
}

.sidebar.menu-min .nav-search .nav-search-input {
	width: 0 !important;
	max-width: 0 !important;
	opacity: 0 !important;
	filter: alpha(opacity = 0) !important
}

.sidebar.menu-min .nav-search .nav-search-input:hover,.sidebar.menu-min .nav-search .nav-search-input:focus,.sidebar.menu-min .nav-search .nav-search-input:active
	{
	width: 162px !important;
	max-width: 162px !important;
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important
}

.sidebar.menu-min .nav-search .nav-search-input:hover ~ #nav-search-icon,.sidebar.menu-min .nav-search .nav-search-input:focus 
	~ #nav-search-icon,.sidebar.menu-min .nav-search .nav-search-input:active 
	~ #nav-search-icon {
	border: 0;
	border-radius: 0;
	padding: 0 3px !important
}

.sidebar.menu-min .nav-search:hover .nav-search-input {
	width: 162px !important;
	max-width: 162px !important;
	opacity: 1 !important;
	filter: alpha(opacity = 100) !important
}

.sidebar.menu-min .nav-search:hover .nav-search-input ~ .nav-search-icon
	{
	border: 0;
	border-radius: 0;
	padding: 0 3px !important
}

.sidebar.menu-min .nav-search .nav-search-icon {
	border: 1px solid;
	border-radius: 32px;
	background-color: #FFF;
	padding: 0 5px !important
}
.menu-min.sidebar {
	width: 43px
}

.menu-min.sidebar:before {
	width: 43px
}

.menu-min.sidebar+.main-content {
	margin-left: 43px
}

.menu-min.sidebar+.main-content .breadcrumbs.fixed,.menu-min.sidebar+.main-content .breadcrumbs.breadcrumbs-fixed
	{
	left: 43px
}

.menu-min .nav-list a .badge,.menu-min .nav-list a .label {
	position: relative;
	top: -1px;
	right: auto;
	left: 4px
}

.menu-min .nav-list .submenu .submenu a .badge,.menu-min .nav-list .submenu .submenu a .label
	{
	top: 0
}

.menu-min .nav-list>li>a {
	position: relative
}

.menu-min .nav-list>li>a>.menu-text {
	display: none;
	position: absolute;
	left: 42px;
	top: -2px;
	width: 174px;
	height: 40px;
	line-height: 38px;
	background-color: #f5f5f5;
	z-index: 121;
	-webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc;
	padding-left: 12px
}

.menu-min .nav-list>li>a.dropdown-toggle>.menu-text {
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	top: -1px;
	left: 43px;
	width: 174px;
	border-bottom: 1px solid #ddd
}

.menu-min .nav-list>li>a .arrow {
	display: none
}

.menu-min .nav-list>li>a:hover:before {
	width: 2px
}

.menu-min .nav-list>li:hover>a {
	color: #1963aa
}

.menu-min .nav-list>li:hover>a>.menu-text {
	display: block
}

.menu-min .nav-list>li.active>a>.menu-text {
	border-left-color: #1963aa
}

.menu-min .nav-list>li.open>a {
	background-color: #fafafa;
	color: #585858
}

.menu-min .nav-list>li.open.active>a {
	background-color: #fff
}

.menu-min .nav-list>li.open:hover>a {
	color: #1963aa
}

.menu-min .nav-list>li.active>a {
	color: #2b7dbc
}

.menu-min .nav-list>li.active>a:after {
	border-width: 10px 6px;
	top: 8px
}

.menu-min .nav-list>li.active.open>a:after {
	display: block
}

.menu-min .nav-list>li.active.open li.active>a:after {
	display: none
}

.menu-min .nav-list>li>.submenu {
	background: #fff;
	position: absolute;
	z-index: 120;
	left: 42px;
	top: -2px;
	width: 176px;
	border: 1px solid #ccc;
	-webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding-top: 40px;
	padding-bottom: 2px;
	display: none !important
}

.menu-min .nav-list>li>.submenu:before {
	display: none
}

.menu-min .nav-list>li>.submenu li:before {
	display: none
}

.menu-min .nav-list>li>.submenu li>a {
	margin-left: 0;
	padding-left: 24px
}

.menu-min .nav-list>li>.submenu li>a>[class*="icon-"]:first-child {
	left: 4px
}

.menu-min .nav-list>li:hover>.submenu {
	display: block !important
}

.menu-min .nav-list>li.active>.submenu {
	border-left-color: #2b7dbc
}

.menu-min .sidebar-shortcuts {
	position: relative
}

.menu-min .sidebar-shortcuts-mini {
	display: block
}

.menu-min .sidebar-shortcuts-large {
	display: none;
	position: absolute;
	z-index: 20;
	top: -1px;
	left: 42px;
	width: 182px;
	padding: 0 2px 1px;
	background-color: #fff;
	-webkit-box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid #ccc
}

.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-large {
	display: block
}

.menu-min .sidebar-collapse:before {
	left: 5px;
	right: 5px
}

.menu-min .sidebar-collapse>[class*="icon-"] {
	font-size: 13px;
	padding: 0 4px;
	line-height: 15px;
	border-width: 1px;
	border-color: #aeaeae
}

.menu-min .nav-list>li>.submenu li>.submenu>li>a {
	margin-left: 0;
	padding-left: 30px
}

.menu-min .nav-list>li>.submenu li>.submenu>li>.submenu>li>a {
	margin-left: 0;
	padding-left: 45px
}

.menu-min .nav-list>li>.submenu li.active>a:after {
	display: none
}

.menu-min .nav-list li.active.open>.submenu>li.active>a:after {
	display: none
}

.menu-toggler {
	display: none
}
