   
       
	
    /* widgets */
        .w-box {-webkit-box-shadow:  0px 1px 2px 0px #efefef;box-shadow:  0px 1px 2px 0px #efefef}
        .w-box + .w-box {margin-top:20px}
        .w-box-header {height:32px;line-height:32px;border:1px solid #ddd;padding:0 10px;background: #fbfbfb;
            background: -moz-linear-gradient(top,  #fbfbfb 0%, #f1f1f1 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#f1f1f1));
            background: -webkit-linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);
            background: -o-linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);
            background: -ms-linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);
            background: linear-gradient(top,  #fbfbfb 0%,#f1f1f1 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#f1f1f1',GradientType=0 );
            font-weight:700;color:#666;font-size:11px
        }
        .w-box-header .btn-group {margin-top:5px;line-height:1}
        .w-box-header .dropdown-menu {font-size:12px}
        .w-box-header input {padding:2px;margin:-2px 0 0}
        .w-box-content {border:1px solid #ddd;border-top:none}
        .w-box-content.cnt_a {padding:10px}
        .w-box-content table,.w-box-content pre {margin-bottom:0}
        .w-box-content pre {-webkit-border-radius: 0 0 0 0;-moz-border-radius: 0 0 0 0;-ms-border-radius: 0 0 0 0;border-radius: 0 0 0 0;border:none}
        .w-box-content .no-th tr:first-child td {border-top:none}
        .w-box-content .gebo-upload {margin:0}
        .w-box-content .gebo-upload .plupload_filelist_header {border-top:none}
        .w-box-content .gebo-upload .plupload_filelist_footer {border-bottom:none}
        .w-box-content .nav-tabs {position:relative;top:-28px;margin-bottom:-18px;border-bottom:none}
        .w-box-content .nav-tabs {float:right;clear:both}
        .w-box-content .nav-tabs > li > a {padding:4px 6px;font-size:11px}
        .w-box-content .nav-tabs > li.active > a {background:#fff !important}
        .w-box-content .nav-tabs > li > a:hover {border-color:#ddd #ddd transparent;background: transparent}
        .w-box-content .tab-content {clear:both}
        .w-box-content .tab-pane {padding:0 10px 10px}
        .w-box-footer {border:1px solid #ddd;padding:8px 10px;background: #fdfdfd;border-top:none}
        .w-box-footer .pagination {margin:0; font-size:11px;height:22px}
        .w-box-footer .pagination a {line-height:20px}

		.page-toolbar {background:#f5f8fa;border:1px solid #ddd;padding:4px;margin-bottom:15px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}

    /* sortable/searchable list */
		.user_list {list-style: none;margin:0}
		.user_list li {padding:0 8px 8px;margin-bottom:8px;border-bottom: 1px dashed #dcdcdc;line-height:normal }
		.user_list small {font-size: 11px;color:#9b9b9b}
	
	/* file manager */
        #kcfinder_iframe {height:500px;margin-bottom:30px;border:1px solid #adaba9}

	/* icon list */
		.icon_list_a,.icon_list_b,.icon_list_c,.icon_list_d {list-style: none;margin:0 0 30px}
		.icon_list_a li,.icon_list_b li,.icon_list_d li {padding:4px 0;width:30px;text-align:center;border:1px solid #dcdcdc;float:left;margin:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}
		.icon_list_c li {padding:4px 0;width:40px;text-align:center;border:1px solid #dcdcdc;float:left;margin:4px;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px}
	
    /* aditional icons */
        .icon-adt_trash,.icon-adt_atach,.icon-adt_enter {background: url("../img/adt-icons.png") no-repeat 0 0;width:16px;height:16px}
        .icon-adt_atach {background-position:0 0}
        .icon-adt_trash {background-position:0 -24px}
        .icon-adt_enter {background-position:0 -47px;width:12px;height:12px}
    
	/* google maps */    
		.company_add_form legend {margin-bottom:10px;font-size:15px}
		#g_map img { max-width: none; }
		#g_map label {display:inline;margin:0;color:#000;font-size: 11px;line-height:normal}
		
	/* gallery grid */
		.wmk_grid ul {list-style: none;margin:0;position:relative}
		.wmk_grid ul li {background-color: #fff;display: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;-ms-box-sizing: border-box;box-sizing: border-box}
		.wmk_grid ul li>a,.wmk_grid ul li>a img {display: block}
		.wmk_grid ul li>a img {width:100%}
		.wmk_grid ul li p {color: #666;font-size: 12px;margin: 8px 4px 2px;overflow:hidden}
		.wmk_grid ul li p a {display:inline-block;margin-left:10px;float:right;opacity:.6}
		.wmk_grid ul li p a:hover {opacity:1}
		.wmk_grid ul li p span {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block}
		.wmk_grid li.thumbnail:hover {border-color:#0088CC}
		.wmk_grid .thumbnail>a {position:relative}
		.wmk_grid .thumbnail>a .vid_ico {position:absolute;top:10px;right:10px;display:block;width:16px;height:16px}
		.wmk_grid .self_vid .vid_ico {background: url("../img/vid_local.png") no-repeat 0 0}
		.wmk_grid .yt_vid .vid_ico {background: url("../img/vid_yt.png") no-repeat 0 0}
		.wmk_grid .vimeo_vid .vid_ico {background: url("../img/vid_vimeo.png") no-repeat 0 0}
        
		/* small gallery grid */
			#small_grid ul li {width:120px}
			#small_grid ul li p {line-height:1.3}
			#small_grid ul li p span {font-size:11px}
		/* large gallery grid */
			#large_grid ul li,#mixed_grid ul li {width:220px}
			#large_grid ul li p span {width:70%}
	
		.video-container {position: relative;padding-bottom: 55.75%;height: 0;overflow: hidden;background: rgba(0,0,0,.3)}
		.video-container iframe,.video-container object,.video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%}
		#cboxContent .video-js {width:640px !important;height:360px !important}
		
	
	/* floating header list */
		.-list-container {height:400px}
		.-list-container dd,.-list-container li,.-list-container .-list-fakeheader {list-style:none;margin:0;padding:0 10px;line-height:34px;height:34px;border-bottom:1px solid #efefef;margin:0;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
		.-list-container dt,.-list-container .list_heading,.-list-container .-list-fakeheader {line-height:34px;height:34px;padding:0 10px;border-bottom:none;background: #f9f9f9;background: -moz-linear-gradient(top,  #f9f9f9 0%, #ececec 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#ececec));background: -webkit-linear-gradient(top,  #f9f9f9 0%,#ececec 100%);background: linear-gradient(top,  #f9f9f9 0%,#ececec 100%);border-bottom: 1px solid #d6d6d6}
		.-list-container .list_heading h3 {font-size:13px;line-height:36px}
		.-list-container {border:1px solid #ccc;-webkit-border-radius: 4px;-moz-border-radius: 4px;-ms-border-radius: 4px;border-radius: 4px;margin:0;overflow-x:hidden}
		.ui-list {overflow:hidden}
		.ui-list ul {margin:0}
		#list-buttons {margin:0 0 6px}
        #list-buttons .btn {margin:0 4px 4px 0}
        .list-outer {position:relative;padding:30px 0}
        .slide-nav {cursor:pointer;position:absolute;left:50%;margin-left:-28px;height:14px;border-style:solid;border-color:#ccc;background:#f9f9f9;padding:5px 20px}
        .slide-up {top:5px;border-width:1px 1px 0;-webkit-border-radius: 4px 4px 0px 0px;border-radius: 4px 4px 0px 0px}
        .slide-down {bottom:5px;border-width:0px 1px 1px;-webkit-border-radius: 0px 0px 4px 4px;border-radius: 0px 0px 4px 4px}
        .slide-nav i {opacity:.6}
		.slide-nav:hover {background:#f0f0f0}
        .slide-nav:hover i {opacity:1}
		
	/*  responsive table */
		.mediaTableWrapper{position:relative}
		.mediaTableWrapperWithMenu{padding-top:48px}
		.mediaTableMenu li,.tableMenu li {padding:0 10px}
		.mediaTableMenu{position:absolute;top:0;left:0}
		.activeMediaTable th.optional,.activeMediaTable td.optional{display:none}
		@media (min-width: 1280px) {
			.activeMediaTable th.optional,.activeMediaTable td.optional{display:table-cell;_display:block}
			*+html .activeMediaTable th.optional,*+html .activeMediaTable td.optional{display:block}
		}
		@media (min-width: 980px) {
			.sidebar_hidden .activeMediaTable th.optional,.sidebar_hidden  .activeMediaTable td.optional{display:table-cell;_display:block}
			*+html .sidebar_hidden .activeMediaTable th.optional,*+html .sidebar_hidden .activeMediaTable td.optional{display:block}
		}
		@media (min-width: 480px) and (max-width: 767px) {
			.activeMediaTable th.optional,.activeMediaTable td.optional{display:table-cell;_display:block}
			*+html .activeMediaTable th.optional,*+html .activeMediaTable td.optional{display:block}
		}

	
	/* sortable elements */
        .ui-sortable-placeholder { border: 2px dashed #aaa;background:transparent;visibility: visible !important; height: 40px !important;margin-bottom:20px}
		.ui-sortable-helper {z-index:2100 !important}
		.ui-sortable-placeholder * { visibility: hidden; }
		.ui-sortable {min-height:40px !important}
		.ui-sortable .w-box-header {cursor:move}
		.sort-disabled .w-box-header {cursor:default}	
		.sort_ph {background:#f8f8f8}

    /* submenus */
        
		.caret-right {display: inline-block;position:absolute;top: 8px;right: 10px;width: 0;height: 0;vertical-align: top;border-left: 4px solid #000;border-top: 4px solid transparent;border-bottom: 4px solid transparent;content: "";opacity: 0.6;filter: alpha(opacity=60)}
		.dropdown-menu .sub-menu {left: 100%;position: absolute;top: 0;visibility: hidden;margin-top: -1px}
        .dropdown-menu li {position:relative}
        .dropdown-menu .sub-open {visibility: visible;display: block}
        .navbar .sub-menu:before {border-bottom: 7px solid transparent;border-left: none;border-right: 7px solid rgba(0, 0, 0, 0.2);border-top: 7px solid transparent;left: -7px;top: 5px}
        .navbar .sub-menu:after {
            border-top: 6px solid transparent;
            border-left: none;
            border-right: 6px solid #fff;
            border-bottom: 6px solid transparent;
            left: 10px;
            top: 6px;
            left: -6px;
        }
		
		.sub-dropdown > a:hover .caret-right, .sub-dropdown.active > a .caret-right, .sub-dropdown.active > a:hover .caret-right {border-left: 4px solid #fff;opacity:1;filter: alpha(opacity=100);}
		.navHover .dropdown-menu {display:block}

	/* to top */
		#toTop{display:none;text-decoration:none;position:fixed;bottom:10px;right:0;overflow:hidden;width:29px;height:32px;border:none;text-indent:100%;background:url("../img/ui.totop.png") no-repeat 0 0}
		#toTopHover{background:url("../img/ui.totop.png") no-repeat 0 -32px;width:29px;height:32px;display:block;overflow:hidden;float:left;opacity:0;-moz-opacity:0;filter:alpha(opacity=0)}
		#toTop:active,#toTop:focus{outline:none}

	/* backgrounds */
		.ptrn_a .main_content {background-image: url("../img/bg_a.png")}
		.ptrn_b .main_content {background-image: url("../img/bg_b.png")}
		.ptrn_c .main_content {background-image: url("../img/bg_c.png")}
		.ptrn_d .main_content {background-image: url("../img/bg_d.png")}
		.ptrn_e .main_content {background-image: url("../img/bg_e.png")}

	/* Style switcher */
		.ssw_trigger{position:fixed;top:62px;right:-1px;z-index:1001;text-decoration: none;font-size: 12px;color:#fff;width:15px;padding: 2px 3px;background:#333;display: block;-webkit-border-top-left-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-topleft: 8px;-moz-border-radius-bottomleft: 8px;border-top-left-radius: 8px;border-bottom-left-radius: 8px;border:1px solid transparent}
		.ssw_trigger.active {border-color:#555}
		.style_switcher {font-size:12px;z-index:1000;position:fixed;top:54px;right:0;display:none;background:#000;background: rgba(0,0,0,.8);border:1px solid #111;width: 180px;height: auto;padding: 30px 30px 30px 50px;color:#f5f5f5}
		.style_switcher p {margin:0 0 6px;font-weight:700}
		.style_item {display:block;margin-right:6px;height:20px;width:20px;border:2px solid #fff;float:left;text-indent:-9999px}
		.style_switcher .ptrn_def {background: #fff }
		
		.style_switcher .ssw_ptrn_a {background: #fff url("../img/bg_a.png")}
		.style_switcher .ssw_ptrn_b {background: #fff url("../img/bg_b.png")}
		.style_switcher .ssw_ptrn_c {background: #fff url("../img/bg_c.png")}
		.style_switcher .ssw_ptrn_d {background: #fff url("../img/bg_d.png")}
		.style_switcher .ssw_ptrn_e {background: #fff url("../img/bg_e.png")}
		
		.style_switcher .dark_theme {background:#000}
		.style_switcher .blue_theme {background:#067ead}
		.style_switcher .brown_theme {background:#b47f44}
		.style_switcher .green_theme {background:#8da452}
		.style_switcher .eastern_blue_theme {background:#1294af}
		.style_switcher .tamarillo_theme {background:#af2c36}
		.style_active {border-color:#6fd05b}
		.style_switcher label {color:#fff}
		
	/* jquery 1.8, bootstrap 2.1 */
		body {font-size:13px;line-height:18px}
		h1, h2, h3, h4, h5, h6 {margin:0}
		h3 {line-height:27px;font-size:18px}
		label, input, button, select, textarea,
		select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input,
		.btn {font-size:13px}
		.navbar .nav > li > a {text-shadow:none;padding:9px 10px 11px}
		.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {background:none;color:#fff}
		.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret,
		.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {border-bottom-color: #fff;border-top-color: #fff}
		.nav .dropdown-toggle:hover .caret {opacity: 1;filter: alpha(opacity=100)}
	
	/* invoice */
		.invoice_heading {font-size:32px;font-family: "PT Sans",sans-serif;}
		td.invoice_tar,th.invoice_tar {text-align:right}
		
	/* media queries */

		@media (min-width: 980px) {
			.sidebar {position:fixed;top:40px;left:0;margin-left:0}
			.navbar-fixed-top .nav-collapse {height:40px !important}
			.navbar .nav > li > a {padding-top:10px}
			/* fixed layout */ 
			.gebo-fixed {max-width:940px;margin:0 auto}
			.gebo-fixed header .container-fluid {max-width:940px;margin:0 auto}
			.gebo-fixed #maincontainer {border-right:1px solid #ccc;border-left:1px solid #ccc}
			.gebo-fixed .sidebar {left:50%;margin-left:-469px}
			.gebo-fixed .sidebar_switch {left:50%;margin-left:-250px}
			.gebo-fixed.sidebar_hidden .sidebar_switch {margin-left:-465px;left:50%}
			.gebo-fixed .search_page .box_view .search_item {width:48%;height:210px;margin:0 0 2% 2%}
            .gebo-fixed .activeMediaTable th.optional,.gebo-fixed .activeMediaTable td.optional{display:none}
			.gebo-fixed .brand {width:120px}
			
			.sidebar_right #maincontainer {background-image: url("../img/main_bg_right.gif");background-position: right 0 }
			.sidebar_right .sidebar {left:auto;right:-1px}
			.sidebar_right .sidebar_switch {left:auto;right:6px}
			.sidebar_right .main_content {margin-right:240px;margin-left:0;border-left:none}
			.sidebar_right.sidebar_hidden #maincontainer {background: #fff}
			.sidebar_right.sidebar_hidden .main_content {margin:0}
			
			.gebo-fixed.sidebar_right .sidebar {left:auto;right:50%;margin-left:0;margin-right:-470px}
			.gebo-fixed.sidebar_right .sidebar_switch {left:auto;right:50%;margin-left:0;margin-right:-465px}
			.gebo-fixed.sidebar_hidden.sidebar_right .sidebar_switch {laeft:auto;margin-left:0;margin-right:-465px;right:50%}
			.selectnav {display:none}
		}
			
		@media (max-width: 1279px) {
			.search_page .box_view .search_item {width:49%}
		}
		
		@media (max-width: 979px) {
			#maincontainer {background: #fff}
			.row > [class*="span"],.navbar-fixed-top {margin:0 !important}
			.navbar-fixed-top .container-fluid {padding:0 !important}
			.navbar .brand {width:auto;line-height:18px;margin:3px 0 6px 34px}
			.navbar .user_menu {padding-top:5px}
			.navbar .user_menu .dropdown-menu {margin:8px 10px 0 0}
			.navbar .user_menu > li > a {padding:0 10px 0 0}
			.navbar-inner {position:relative;z-index:990;min-height:28px}
			.nav-collapse a {color:#fff !important}
			.nav-collapse .dropdown-menu li {padding:0}
			.nav-collapse .dropdown-menu li a {font-weight:400}
			.nav-collapse .sub-menu {display:block;left:0;right:auto;position:relative;visibility:visible}
			.nav-collapse .caret-right {display:none}
			.btn-navbar {margin-top:2px !important;padding:2px 8px !important}
			.user_menu .dropdown {margin-left:10px}
			.main_content {margin:0 !important;border:none !important;padding:28px 14px 20px}
			.main_content .row-fluid + .row-fluid {margin-top:20px}
			.sidebar {height: 400px;position:absolute;top:39px;left:0;background:#f1f1f1;border-width:0 1px;border-style:solid;border-color:#ccc;margin:0;-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.2);box-shadow: 1px 1px 4px rgba(0,0,0,0.2);z-index:1000;-webkit-border-radius: 0px 5px 5px 0px;border-radius: 0px 5px 5px 0px}
			.sidebar:after {border-bottom: 6px solid #fff;border-left: 6px solid transparent;border-right: 6px solid transparent;content: "";display: inline-block;left: 15px;position: absolute;top: -6px}
            .sidebar_hidden .sidebar {border:none}
			.sidebar_switch {position:absolute;z-index:1000;left:5px !important;top:14px;padding:0 10px}
			.off_switch {background-position:center 1px}
			.on_switch {background-position:center -17px}
            .sidebar_inner {padding-bottom:0 !important}
            div.sticky-queue {z-index:10000;top:0}
            .btn_menu {display:block;clear:both;padding:8px 0 6px;border-top:1px solid rgba(255,255,255,.2);box-shadow: 0 -1px 0 rgba(0,0,0,.2);text-align:center;position:relative;top:4px;cursor:pointer}
            .btn_menu span {opacity:.8}
			.ssw_trigger {display:none}
			#mobile-nav {display:none}
			.selectnav {margin-left:20px;margin-bottom:0}
		}
		
		@media (max-width: 767px) {
			.row-fluid > [class*="span"] + [class*="span"] {margin-top:20px}
			.row-fluid input[class*="span"],.row-fluid textarea[class*="span"],.row-fluid select[class*="span"] {width:80%}
			.input-prepend, .input-append {margin-bottom:10px}
			form .row-fluid > [class*="span"] + [class*="span"] {margin-top:0}
			.login_page .content_b {margin: 0 20px}
			.search_page .box_view .search_item {width:99%;margin-bottom:3%}
			.error_page .error_box {background:none;width:100%}
			.error_page .error_box h1 {padding:40px 20px 0}
			.error_page .error_box p {margin:0 20px 10px}
			.error_page .error_box .back_link {margin:0 20px}
            .style_switcher {display:none}
			.dshb_icoNav {text-align:center}
			.dshb_icoNav li {float:none;display:inline-block}
			#cboxContent .video-js {width:100% !important;height:100% !important}
			.vcard > .thumbnail {display:none}
			.vcard > ul {margin:0}
			.item-list .thumbnail {float:none;display:inline-block;margin:0 10px 10px 0}
			.navbar .nav.pull-right {float:right}
			.selectnav {margin:5px auto 0;display:block;clear:both}
		}
		
		@media (max-width: 479px) {
			.login_page .login_box {width:100%}
			.login_page .cnt_b {padding:20px 0;width:68%;margin:0 auto}
            .-list-container {height:300px}
			.ov_boxes li {padding:0 2px}
			.navbar .nav.pull-right {float:left;clear:both}
			.selectnav {display:inline-block}
		}
		
		@media (min-width: 1681px) {
			body {max-width:1680px;margin:0 auto}
			header .container-fluid {max-width:1640px;margin:0 auto}
			#maincontainer {border-right:1px solid #ccc;border-left:1px solid #ccc}
			.main_content {border-left:none}
			.sidebar {left:50%;margin-left:-839px}
			.sidebar_switch {left:50%;margin-left:-620px}
			.sidebar_hidden .sidebar_switch {margin-left:-832px;left:50%}
			.sidebar_right .sidebar {right:50%;margin-left:0;margin-right:-840px}
			.sidebar_right .sidebar_switch {left:auto;right:50%;margin-left:0;margin-right:-836px}
		}