.footer {
	color: #777;
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.footer a {
	color: #777;
}

ul {
	list-style-type: none;
}

div.result {
	padding: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.result ul {
	padding-left: 0px;
}

div.result li {
	border-bottom: 1px solid #f1f1f1;
}

div.result a {
	line-height: 40px;
	color: #204e7d;
	font-size: 14px;
	font-weight: bold;
}

div.result span {
	color: #787878;
}

div.result p {
	line-height: 30px;
	color: #787878;
}

div.articleContent .main {
	line-height: 26px;
	padding: 20px;
	margin-bottom: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: solid 1px #e4e4e4;
}

div.articleContent .main .title {
	line-height: 30px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

div.articleContent .main .info {
	line-height: 30px;
	margin-bottom: 10px;
	color: #787878;
	text-align: center;
	border-bottom: solid 1px #f1f1f1;
}

div.articleContent .main .content {
	overflow: hidden;
}