<?xml version="1.0" encoding="UTF-8" ?>

<taglib xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-jsptaglibrary_2_0.xsd"
	version="2.0">

	<description>JSTL 1.1 functions library</description>
	<display-name>JSTL functions sys</display-name>
	<tlib-version>1.1</tlib-version>
	<short-name>fns</short-name>
	<uri>http://java.sun.com/jsp/jstl/functionss</uri>

	<!-- CMS 部分 -->
	<function>
		<description>获取当前管理站点编号</description>
		<name>getCurrentSite</name>
		<function-class>com.tmt.base.cms.entity.Site</function-class>
		<function-signature>java.lang.String getCurrentSiteId()</function-signature>
		<example>${fnc:getCurrentSiteId()}</example>
	</function>
	<function>
		<description>获取网站路径</description>
		<name>getFrontPath</name>
		<function-class>com.tmt.base.cms.comfig.Config</function-class>
		<function-signature>java.lang.String getFrontPath()</function-signature>
		<example>${fns:getFrontPath()}</example>
	</function>
	<function>
		<description>获取网站URL后缀</description>
		<name>getUrlSuffix</name>
		<function-class>com.tmt.base.cms.comfig.Config</function-class>
		<function-signature>java.lang.String getUrlSuffix()</function-signature>
		<example>${fns:getUrlSuffix()}</example>
	</function>
</taglib>
